body { background: whitesmoke; }

table {
  border: .2em inset gainsboro;
  user-select: none;
}

td {
  width: 24px;
  height: 24px;
  font-weight: bold;
  text-align: center;
}

tr { height: 1em; }

td.unknown {
  background-color: darkgrey;
  border: 2px outset;
}

td.known {
  background-color: lightgrey;
  border: 2px solid lightgrey;
}

td.flagged::after {
  content: "🚩";
}

td.exploded::after {
  content: "💥";
}

td.known.mine::after {
  content: "💣";
}

td.n1 {
  color: blue;
}

td.n2 {
  color: green;
}

td.n3 {
  color: red;
}

td.n4 {
  color: purple;
}

td.n5 {
  color: orange;
}

td.n6 {
  color: cyan;
}

td.n7 {
  color: pink;
}

td.n8 {
  color: teal;
}

