:root {
    --cell-size: 5vh;
    --border-size: 3px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    /* background-image: url("./bg.png"); */
    background-size: 10%;
    background: gray;
}

header, main, footer {
    padding: 1em;
}

h1 { margin: 0; }
button { width: 10em; height: 3em; }

#minefield {
    display: grid;
    user-select: none;
    grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size);
    padding: 1em;
}

/* Cells. */
#minefield > div {
    height: var(--cell-size);
    font-weight: bold;
    text-shadow: 0 -2px white;
    -webkit-text-stroke: 1px white;
    text-align: center;
    font-size: 2em;
}

.unknown, .known { background-size: cover; }

.unknown-type-1 { background-image: url("./res/gravedigger/unknown-1.png"); }
.unknown-type-2 { background-image: url("./res/gravedigger/unknown-1.png"); }
.unknown-type-3 { background-image: url("./res/gravedigger/unknown-1.png"); }
.known { background-image: url("./res/gravedigger/known.png"); }
.flagged { background-image: url("./res/gravedigger/flagged.png"); }
.exploded { background-image: url("./res/gravedigger/explosion.png"); }
.known.mine { background-image: url("./res/gravedigger/bomb.png"); }

.n1 { color: blue; }
.n2 { color: green; }
.n3 { color: red; }
.n4 { color: purple; }
.n5 { color: orange; }
.n6 { color: cyan; }
.n7 { color: pink; }
.n8 { color: teal; }

