:root {
    --cell-size: 48px;
    --border-size: 3px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    width: 100vw;
}

header, main, footer {
    padding: 1em;
}

h1 { margin: 0; }
button { width: 10em; height: 3em; }

#minefield {
    display: grid;
    user-select: none;
    grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size);
    background-color: lightgreen;
}

/* Cells. */
#minefield > div {
    height: var(--cell-size);
    font-weight: bold;
}

.unknown {
    background-image: url("./grass.png");
    background-size: cover;
}

.known {
    background-image: url("./grass_cut.png");
    background-size: cover;
}

.flagged::after { content: "🚩"; }
.exploded::after { content: "💥"; }
.known.mine::after { content: "💣"; }
.n1 { color: blue; }
.n2 { color: green; }
.n3 { color: red; }
.n4 { color: purple; }
.n5 { color: orange; }
.n6 { color: cyan; }
.n7 { color: pink; }
.n8 { color: teal; }

